node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development
.env.test
.env.production
*.env

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/
.vs/

build/
dist/
*.tgz
*.zip

.npm/
.eslintcache
.cache/
.parcel-cache/

*.tmp
*.temp
.temp/
tmp/

coverage/
.nyc_output/

/build

.sass-cache/
connect.lock
typings/